.master {
  background-color: blue;
  color: white;
}

.example {
  background-color: skyblue;
  color: gray;
}

.ceres20 {
  background-color: pink;
  color: gray;
}

h2.example {
  font-style: italic;
  text-align: center;
  color: teal;
}

